*{
    box-sizing: border-box;
}

.center-align{
    text-align: center;
}

.font{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title{
    background-color: blue;
    color: white;
    text-align: center;
    margin: 0px;
}

.topnavigationbar{
    background-color: blue;
    padding: 20px;
    margin-top: 0px;
}

.topnavigationbar a{
    background-color: green;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.topnavigationbar a:hover{
    background-color: lightgreen;
    padding: 10px;
    color: white;
}

.topnavigationbar a.active{
    outline: solid black 3px;
}

.recipe-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    background-color: beige;
    display:inline-block
}

.recipe-card button{
    margin: auto;
    text-align: center;
    width: 100%;
    font-size: 20px;
    background-color: orange;
}

.recipe-card button:hover{
    background-color: orangered;
}


.bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}